<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CustExp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfigThresholdServlet</display-name>
    <servlet-name>ConfigThresholdServlet</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.ConfigThresholdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigThresholdServlet</servlet-name>
    <url-pattern>/ConfigThresholdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DurationS</display-name>
    <servlet-name>DurationS</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.DurationS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DurationS</servlet-name>
    <url-pattern>/DurationS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChartDetails</display-name>
    <servlet-name>GetChartDetails</servlet-name>
    <servlet-class>com.avekshaa.cis.engine.GetChartDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChartDetails</servlet-name>
    <url-pattern>/GetChartDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>piechartDemo</display-name>
    <servlet-name>piechartDemo</servlet-name>
    <servlet-class>com.avekshaa.cis.engine.piechartDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>piechartDemo</servlet-name>
    <url-pattern>/piechartDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>get data from live report and send url to livereport.jsp</description>
    <display-name>LiveReportserv</display-name>
    <servlet-name>LiveReportserv</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.LiveReportserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiveReportserv</servlet-name>
    <url-pattern>/LiveReportserv</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterClass</display-name>
    <filter-name>FilterClass</filter-name>
    <filter-class>com.avekshaa.cis.engine.FilterClass</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterClass</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MobvsDes</display-name>
    <servlet-name>MobvsDes</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.MobvsDes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobvsDes</servlet-name>
    <url-pattern>/MobvsDes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.avekshaa.cis.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.avekshaa.cis.login.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.avekshaa.cis.login.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTableServlet</display-name>
    <servlet-name>GetTableServlet</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.GetTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTableServlet</servlet-name>
    <url-pattern>/GetTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecentServlet</display-name>
    <servlet-name>RecentServlet</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.RecentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecentServlet</servlet-name>
    <url-pattern>/RecentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAndroidJson</display-name>
    <servlet-name>GetAndroidJson</servlet-name>
    <servlet-class>com.avekshaa.cis.quartzjob.GetAndroidJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAndroidJson</servlet-name>
    <url-pattern>/GetAndroidJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDashboardPieChartData</display-name>
    <servlet-name>GetDashboardPieChartData</servlet-name>
    <servlet-class>com.avekshaa.cis.Java.GetDashboardPieChartData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDashboardPieChartData</servlet-name>
    <url-pattern>/GetDashboardPieChartData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCount</display-name>
    <servlet-name>GetCount</servlet-name>
    <servlet-class>com.avekshaa.cis.androservlet.GetCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCount</servlet-name>
    <url-pattern>/GetCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPremiumUser</display-name>
    <servlet-name>AddPremiumUser</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.AddPremiumUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPremiumUser</servlet-name>
    <url-pattern>/AddPremiumUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getWebVsMobileHitsCount</display-name>
    <servlet-name>getWebVsMobileHitsCount</servlet-name>
    <servlet-class>com.avekshaa.cis.Java.getWebVsMobileHitsCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getWebVsMobileHitsCount</servlet-name>
    <url-pattern>/getWebVsMobileHitsCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePremiumUser</display-name>
    <servlet-name>DeletePremiumUser</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.DeletePremiumUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePremiumUser</servlet-name>
    <url-pattern>/DeletePremiumUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserBufferData</display-name>
    <servlet-name>GetUserBufferData</servlet-name>
    <servlet-class>com.avekshaa.cis.jio.GetUserBufferData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserBufferData</servlet-name>
    <url-pattern>/GetUserBufferData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPieChartData</display-name>
    <servlet-name>GetPieChartData</servlet-name>
    <servlet-class>com.avekshaa.cis.jio.GetPieChartData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPieChartData</servlet-name>
    <url-pattern>/GetPieChartData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeviceCount</display-name>
    <servlet-name>GetDeviceCount</servlet-name>
    <servlet-class>com.avekshaa.cis.jio.GetDeviceCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeviceCount</servlet-name>
    <url-pattern>/GetDeviceCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPieChartDataForBranch</display-name>
    <servlet-name>GetPieChartDataForBranch</servlet-name>
    <servlet-class>com.avekshaa.cis.jio.GetPieChartDataForBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPieChartDataForBranch</servlet-name>
    <url-pattern>/GetPieChartDataForBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchActivation</display-name>
    <servlet-name>BranchActivation</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.BranchActivation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchActivation</servlet-name>
    <url-pattern>/BranchActivation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CISReport</display-name>
    <servlet-name>CISReport</servlet-name>
    <servlet-class>com.avekshaa.cis.reporting.CISReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CISReport</servlet-name>
    <url-pattern>/CISReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailConfiguration</display-name>
    <servlet-name>EmailConfiguration</servlet-name>
    <servlet-class>com.avekshaa.cis.servlet.EmailConfiguration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailConfiguration</servlet-name>
    <url-pattern>/EmailConfiguration</url-pattern>
  </servlet-mapping>
 <!-- <servlet>
		<servlet-name>QuartzInitializer</servlet-name>
		<servlet-class>com.avekshaa.cis.commonutil.QuartzServlet</servlet-class>
		<init-param>
			<param-name>shutdown-on-unload</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet> --> 
</web-app>