@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

/* @import url(http://weloveiconfonts.com/api/?family=fontawesome); */

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

/* @import url(http://meyerweb.com/eric/tools/css/reset/reset.css); */

/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
body {
	background-color: #C0C0C0;
	color: #000;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	/* -webkit-appearance: none; */
}

/* ---------- LOGIN ---------- */
#login {
	margin: 0px auto;
	width: 400px;
	padding-top: 90px;
	position: absolute;
	height: 324px;
	/* background: white; */
	top: 40%;
	margin-top: -250px;
	left: 50%;
	margin-left: -240px;
	/* box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.45); */
}

#login h3 {
	background-color: #363636;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#login h3 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background-color: #fff;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="text"], #login fieldset input[type="password"]
	{
	background-color: #d3d7cf;
	color: #2e3436;
	padding: 4px 10px;
	width: 95%;
}

#login fieldset input[type="submit"] {
	background-color: #7FBFFF;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}

#login fieldset input[type="submit"]:hover {
	background-color: #28ad63;
}

input[type=”checkbox”] {
	-webkit-appearance: checkbox;
}

/* input[type="radio"] {
  -webkit-appearance: none;
   Hides the default checkbox style
  height: 1.618em;
  width: 1.618em;
  -webkit-box-sizing: border-box;
  Safari/Chrome, other WebKit

  -moz-box-sizing: border-box;
  Firefox, other Gecko

  box-sizing: border-box;
  Opera/IE 8+

  border: 0.382em solid #d7d3d2;
  cursor: pointer;
  position: relative;
  -webkit-transition: .15s;
  border-radius: 2em;
  background-color: #d7d3d2;
} */
/* input[type="checkbox"] {
-webkit-appearance: none;
   Hides the default checkbox style
  height: 1.618em;
  width: 1.618em;
  cursor: pointer;
  position: relative;
  -webkit-transition: .15s;
  border-radius: 2em;
  background-color: #900;
  margin-right: 1em;
  margin-top: .53em;
} */